<!-- views/index.ejs -->

<!-- Inclui o cabeçalho da página com título dinâmico -->
<%- include('partials/header', { pageTitle: 'Página Inicial' }) %>

<body>
    <main>
    <div class="text-center">
    <h1>Bem-vindo à Página Inicial</h1>
    <% if (username) { %>
        <p>Olá, <%= username %>!</p>
    <% } else { %>
        <p>Você não está logado</p>
    <% } %>
</div>

    <div class="d-flex justify-content-center mb-2">
        <a href="/loginRequired" class="btn btn-warning m-1 btn-custom">Entrar</a>
    </div>              
</main>

    <%- include('partials/footer') %> <!-- Inclui o rodapé da página -->
    
</body>
</html>
