<!-- views/loginRequired.ejs -->

<!-- Inclui o cabeçalho da página com título dinâmico -->
<%- include('partials/header', { pageTitle: 'Login necessário' }) %>

<body>
<main>
    <nav>
        <h2 class="text-center" style="margin-top:20%;">Você está logado!</h2>
        <div class="d-flex justify-content-center mb-2">
            <a href="/" class="btn btn-warning m-1 btn-custom">Voltar</a>
        </div>
    </nav>
</main>

    <%- include('partials/footer') %> <!-- Inclui o rodapé da página -->
    
</body>
</html>
